.slides-inner {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: 1000ms;
}

.slide-show {
  overflow: hidden;
  position: relative;
}

/* Developer styles */
#slides {
  border: 2px solid red;
  width: 1200px;
  height: 400px;
  margin: auto;
}
